    
    .nav_Nerd{
        letter-spacing: 3px;
    }

    .nav_contents{
        font-size: 15px;
    }
    .page_banner {
        background-color: rgb(60, 60, 60);
        width: 100%;
        height: 830px;
        border-bottom: 3px solid #34A853;
        text-align:center;
    }
    
    .center_img {
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 50%;
        width: 400px;
        border: 3px solid #34A853;
    }
    
    .name_header_main {
        font-family: Mono, sans-serif;
        font-size: 65px;
        color: #34A853;
        text-align:center;
    }
    .name_header_sub {
        font-family: Mono, sans-serif;
        color: #34A853;
        font-size: 25px;
        color: white;
        text-align:center;
    }
    
    .links_banner {
        color: #34A853;
        font-size: 30px;
    }
    
    .links_banner:hover {
        color: white;
    }
    
    .intro_sub_headings {
        color: #7B0099;
        font-family: Montserrat, sans-serif;
        font-size: 70px;
        text-align: center;
    }
    
    .about_me_contents {
        text-align: center;
        font-size: 30px;
        color: green;
    }
    
    .about_contents_small {
        font-size: 17px;
        font-family: Mono, sans-serif;
        color: #7B0099
    }
    
    .skillset_contents {
        text-align: center;
        font-size: 30px;
        color: black;
    }
    
    .remember {
        font-size: 25px;
        font-family: Mono, sans-serif;
        color: navy;
        text-align: center;
    }
    
    .remember_achievements {
        font-size: 25px;
        font-family: Mono, sans-serif;
        color: tomato;
        text-align: center;
    }
    
    .remember_proj {
        font-size: 25px;
        font-family: Mono, sans-serif;
        color: rgb(187, 8, 187);
        text-align: center;
    }
    
    .page_contact__me {
        background-color: rgb(60, 60, 60);
        width: 100%;
        height: auto;
        border-bottom: 8px solid #34A853;
    }
    
    .contact_box {
        font-size: 20px;
    }
